# Sistema operacional
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# Logs e arquivos temporários
*.log
*.tmp

# Node (caso adicione JS externo futuramente)
node_modules/

# Pastas de build (caso um dia use bundlers)
dist/
build/
