# Sistema operacional
Thumbs.db
.DS_Store

# Arquivos temporários
*.tmp
*.log

# VSCode
.vscode/
*.code-workspace

# Node (caso um dia use)
node_modules/

# Deploys/Builds (caso adicione futuramente)
dist/
build/
